<!-- Fichiers JavaScript -->
<script src="/javascripts/highlight.js"></script>
<script src="/javascripts/highlightjs-line-numbers.js"></script>

<!-- Initialisation de Highlight.js et du plugin de numéros de ligne -->
<script>
    hljs.highlightAll(); // Coloration syntaxique
    hljs.initLineNumbersOnLoad(); // Ajoute les numéros de ligne
</script>

</body>
</html>