<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/github.css'>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>

