<div id="navbar" class="navbar">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/gear">Gear</a></li>
        </ul>
    </nav>

</div>