<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="e-404-body">
    <div class="e-404-title">
        <h1>404</h1>
    </div>
    <div class="e-404-txt">
        <p>Oh-oh... It seems the page you are looking for does not exist.<br>
        You might have misspelled or clicked on an old link. Please try again...</p>
        <a href="/">Return back home</a>
    </div>
</div>

<%- include("partials/footer") -%>
