<%- include("partials/header") -%>
<%- include("partials/navbar") -%>


<div class="about-body">
    <div class="about-intro">
        <h1>About</h1>
        <p>A peek into my world.</p>
        <div class="about-pictures">
            <div class="prague-picture">
                <img src="/images/prague-pic.jpeg" alt="Prague 2k23">
            </div>
            <div class="zion-picture">
                <img src="/images/zion-pic.JPG" alt="USA 2k19">
            </div>
            <div class="ski-picture">
                <img src="/images/ski-pic.jpeg" alt="Ski 2k21">
            </div>
            <div class="mountain-picture">
                <img src="/images/beloiseau-pic.jpeg" alt="Mountain 2k20">
            </div>
        </div>
    </div>
    <div class="about-sections">
        <section id="about" class="about">
            <h2 class="section-title">About</h2>
            <div class="about-txt">
                <p>
                    Hi, I'm Gil, born in France, raised in the French Alps and now working in Switzerland as a
                    Service Desk Analyst. With a passion for coding since , I also enjoy working on UI/UX design and
                    server administration, always looking for ways to enhance user experiences and optimize systems.
                </p>
                <p>
                    In addition to my work in tech, I have a strong passion for finance,
                    constantly learning about markets and investments.
                </p>
                <p>
                    When I’m not at my desk or coding, you’ll find me exploring the mountains in any season,
                    spending time with friends, enjoying great restaurants, or cheering on a hockey game at
                    the rink. Whether it’s embracing nature, socializing, or catching the thrill of sports,
                    I’m always seeking new experiences.
                </p>
            </div>
        </section>
        <section id="connect" class="connect">
            <h2 class="section-title">Connect</h2>
            <div class="connect-list">
                <ul>
                    <li class="one">
                        <form method="POST" action="mailto:gil.vayssier@sfr.fr" enctype="multipart/form-data">
                            <button class="b1">
                                <span><img src="/images/mail-fill.svg" alt="email-icon"></span>
                                Email
                            </button>
                        </form>
                    </li>
                    <li class="two">
                        <a href="https://www.instagram.com/gilaway/">
                            <button class="b2">
                                <span><img src="/images/instagram-fill.svg" alt="instagram-icon"></span>
                                Instagram
                            </button>
                        </a>
                    </li>
                    <li class="three">
                        <a href="https://github.com/Gilaway">
                            <button class="b3">
                                <span><img src="/images/github-fill.svg" alt="github-icon"></span>
                                GitHub
                            </button>
                        </a>
                    </li>
                    <li class="four">
                        <a href="https://www.linkedin.com/in/gil-vayssier-1b4872116/">
                            <button class="b4">
                                <span><img src="/images/linkedin-fill.svg" alt="linkedin-icon"></span>
                                LinkedIn
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>


<%- include("partials/footer") -%>

