<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

    <h1>About</h1>
    <p>A glimpse into me.</p>

    <section id="about">
        <h2>About</h2>
        <p>Hi, I'm Gil, born in France, raised in the French Alps and working in Switzerland. I have been coding since
        I am 16.</p>
    </section>
    <section id="connect">
        <h2>Connect</h2>
        <ul>
            <li>Instagram</li>
            <li>GitHub</li>
            <li>LinkedIn</li>
        </ul>
    </section>
    <section id="work">
        <h2>Work</h2>
    </section>

<%- include("partials/footer") -%>

