<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

    <h1>Gear</h1>
    <p>My toolbox.</p>
    <p>This is all gear I actually own and like. Updated on October 2024.</p>

    <section id="apps">
        <h2>Apps</h2>
        <ul>
            <li>Notion</li>
            <li>Notion</li>
            <li>Notion</li>
            <li>Notion</li>
        </ul>
    </section>
    <section id="home_desk">
        <h2>Home Desk Setup</h2>
        <ul>
            <li>Desktop</li>
            <li>Notion</li>
            <li>Notion</li>
            <li>Notion</li>
        </ul>
    </section>


<%- include("partials/footer") -%>

