<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="gear-body">
    <h1>Gear</h1>
    <p>My toolbox.</p>
    <p>This is all gear I actually own and like. Updated on October 2024.</p>
    <section id="everyday">
        <h2>Everyday Carry</h2>
        <ul class="gear-list">
            <li>
                <a class="gear-link">
                    <img src="/images/gear/macbook.jpg">
                    <div class="gear-text">
                        <h4>MacBook Pro M3 Pro</h4>
                        <p>14 Inch, daily use. Silent, design and performant.</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="gear-link">
                    <img src="/images/gear/airpodmax.jpg">
                    <div class="gear-text">
                        <h4>Apple AirPods Max</h4>
                        <p>...</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="gear-link">
                    <img src="/images/gear/ipad.avif">
                    <div class="gear-text">
                        <h4>Apple iPad Pro M1</h4>
                        <p>...</p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
    <section id="apps">
        <h2>Apps</h2>
        <ul class="gear-list">
            <li>
                <a class="gear-link">
                    <img src="/images/gear/intellij.png">
                    <div class="gear-text">
                        <h4>IntelliJ IDEA</h4>
                        <p>...</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="gear-link">
                    <img src="/images/gear/pycharm.png">
                    <div class="gear-text">
                        <h4>PyCharm</h4>
                        <p>...</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="gear-link">
                    <img src="/images/gear/goodnote.png">
                    <div class="gear-text">
                        <h4>Goodnotes</h4>
                        <p>...</p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
    <section id="home_desk">
        <h2>Home Desk Setup</h2>
        <ul class="gear-list">
            <li>
                <a class="gear-link">
                    <img src="/images/gear/standing.avif">
                    <div class="gear-text">
                        <h4>IKEA Mittzon</h4>
                        <p>Desk sit/stand, electric birch veneer/white, 140x60 cm.</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="gear-link">
                    <img src="/images/gear/dell.jpg">
                    <div class="gear-text">
                        <h4>Dell P2425H</h4>
                        <p>Great 1920x1080 Screen, very good price-quality ratio.</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="gear-link">
                    <img src="/images/gear/craft.jpg">
                    <div class="gear-text">
                        <h4>Logitech Craft</h4>
                        <p>Wireless keyboard with a premium typing experience and a versatile input dial.</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="gear-link">
                    <img src="/images/gear/mouse.jpg">
                    <div class="gear-text">
                        <h4>Logitech MX Master 3S</h4>
                        <p>Performance Wireless, ergonomic and comfortable Mouse.</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="gear-link">
                    <img src="/images/gear/screenbar.jpeg">
                    <div class="gear-text">
                        <h4>BenQ ScreenBar Plus</h4>
                        <p>...</p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</div>


<%- include("partials/footer") -%>

