<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="homepage-body">
    <div class="intro">
        <h1>hey, Gil here!</h1>
        <p>I am software developer who loves to learn new things such as technologies, languages, etc.
            I mainly focus on coding, tech and productivity.</p>
        <button class="button"><a href="https://github.com/Gilaway">GitHub</a></button>
        <button class="button"><a href="https://www.linkedin.com/in/gil-vayssier-1b4872116/">LinkedIn</a></button>
    </div>

    <div class="projects">
        <h2>My projects</h2>
    </div>

    <div class="latest-blog">
        <h2>Latest blogs</h2>
        <p>I sometimes write about programming, tech and productivity. Check me out !
        </p>
    </div>

</div>


<%- include("partials/footer") -%>