<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

    <h1>hey, Gil here!</h1>
    <p>On my way to become a software engineer. I mainly focus on coding, tech and productivity.</p>

<%- include("partials/footer") -%>