body {
  padding: 50px;
  font: 16px "Avenir Next", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/*--------------------NAVBAR--------------------*/

.navbar {
  display: flex;
  justify-content: center;
  padding: 12px 24px 12px 24px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 65px;
  padding: 0;
}

.navbar li {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar a {
  text-decoration: none;
  text-align: center;
  color: #7D858C;
  justify-content: space-between;
}

.navbar a:hover {
  color: black;
}

/*--------------------INDEX--------------------*/

.homepage-body {
  max-width: 700px;
  display: flex;
  justify-content: center;
  padding: 64px 24px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 4rem;
}

h1 {
  font-size: 1.875rem;
  font-weight: 600;
}

.intro-txt {
  /*max-width: 550px;*/
  color: #7D858C;
  font-family: Avenir, sans-serif;
  margin-bottom: 35px;
}

.button {
  background-color: #F0F0F0;
  border: none;
  border-radius: 100px;
  padding: 5px 12px;
  margin-right: 15px;
  font-family: Avenir, sans-serif;
}

.button:hover {
  background-color: #D1D1D1;
}

h2 {
  font-size: 1.275rem;
  font-weight: 500;
}

.latest-blog p {
  color: #7D858C;
  font-family: Avenir, sans-serif;
}

.project-carousel {
  display: flex;
  gap: 50px;
}

.project-1 {
  min-width: 18rem;
}

.project-img {
  border: 1px solid #F0F0F0;
  height: 10rem;
  background-color: #F0F0F0;
  border-radius: 10px;
}

.blog-list {
  display: flex;
  flex-direction: column;
}

.blog-date {
  min-width: 7rem;
}

.article {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
