body {
  padding: 50px;
  font: 16px "Avenir Next", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/*--------------------NAVBAR--------------------*/

.navbar {
  display: flex;
  justify-content: center;
  padding: 12px 24px 12px 24px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 65px;
  padding: 0;
}

.navbar li {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar a {
  text-decoration: none;
  text-align: center;
  color: #7D858C;
  justify-content: space-between;
}

.navbar a:hover {
  color: black;
}

/*--------------------INDEX--------------------*/

.homepage-body {
  max-width: 700px;
  display: flex;
  justify-content: center;
  padding: 64px 24px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 4rem;
}

h1 {
  font-size: 1.875rem;
  font-weight: 600;
}

.intro-txt {
  /*max-width: 550px;*/
  color: #7D858C;
  font-family: Avenir, sans-serif;
  margin-bottom: 35px;
}

.button {
  background-color: #F0F0F0;
  border: none;
  border-radius: 100px;
  padding: 5px 12px;
  margin-right: 15px;
  font-family: Avenir, sans-serif;
}

.button:hover {
  background-color: #D1D1D1;
}

h2 {
  font-size: 1.275rem;
  font-weight: 500;
}

.latest-blog p {
  color: #7D858C;
  font-family: Avenir, sans-serif;
}

.project-carousel {
  display: flex;
  gap: 50px;
}

.project-carousel:hover .project-list{
  opacity: 0.5;
}

.project-1 {
  width: 18rem;
}

.project-2 {
  width: 18rem;
}

.project-carousel:hover .project-list:hover{
  opacity: 1;
}

.project-img {
  border: 1px solid #F0F0F0;
  height: 10rem;
  background-color: #F0F0F0;
  border-radius: 10px;
}

.project-img img {
  width: 100%;
  border-radius: 10px;
}

.blog-list {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.article-link {
  color: black;
  transition: color 0.3s;
}

.blog-list:hover .article-link {
  opacity: 0.5;
}

.blog-list:hover .article-link:hover {
  opacity: 1;
}

.blog-date {
  min-width: 7rem;
}



/*--------------------ABOUT--------------------*/

.about-body {
  max-width: 700px;
  display: flex;
  justify-content: center;
  padding: 64px 24px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.about-pictures {
  padding: 5% 0;
  display: flex;
  flex-direction: row;
  max-height: 300px;
  position: relative;
  margin-left: -150px;
  margin-right: -150px;
}

.prague-picture {
  transform: rotate(358deg);
  height: 20rem;
  width: 14.2rem;
  border-radius: 15px;
}

.prague-picture img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.zion-picture {
  transform: rotate(7deg);
  height: 18rem;
  width: 25rem;
  border-radius: 15px;
  padding-top: 2rem;
  margin-left: -30px;
}

.zion-picture img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.ski-picture {
  transform: rotate(5deg);
  height: 30rem;
  width: 18rem;
  border-radius: 15px;
  margin-left: -30px;
}

.ski-picture img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.mountain-picture {
  transform: rotate(355deg);
  height: 18rem;
  width: 25rem;
  border-radius: 15px;
  padding-top: 2rem;
  margin-left: -30px;
}

.mountain-picture img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.about-sections {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.about {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.section-title {
  min-width: 8rem;
}

.connect {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.connect-list {
  flex-direction: row;
  width: 100%;
}

.connect-list ul {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: .75rem;
}

.connect-list li {
  list-style: none;
}

.connect-list button {
  width: 100%;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
  height: 50px;
  text-align: left;
  padding-left: 10%;
}

.connect-list button:hover {
  background-color: #D1D1D1;
}

.one {
  grid-area: 1 / 1 / 2 / 2;
}

.two {
  grid-area: 1 / 2 / 2 / 3;
}

.three {
  grid-area: 2 / 1 / 3 / 2;
}

.four {
  grid-area: 2 / 2 / 3 / 3;
}

.b1, .b2, .b3, .b4 {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: row;
  gap: 10px;
}

.b1, .b2, .b3, .b4:hover {
  cursor: pointer;
}

/*--------------------BLOG--------------------*/

.blog-body {
  max-width: 700px;
  display: flex;
  justify-content: center;
  padding: 64px 24px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.article a{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/*--------------------GEAR--------------------*/

.gear-body {
  max-width: 700px;
  display: flex;
  justify-content: center;
  padding: 64px 24px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.gear-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-left: 0;
}

.gear-list li {
  list-style: none;
}

.gear-link {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.gear-link img {
  width: 4rem;
  height: 4rem;
  border: lightgrey 1px solid;
  border-radius: 15px;
}

.gear-text {
  display: flex;
  flex-direction: column;
}

.gear-text h4 {
  margin: 0;
}

.gear-text p {
  margin: 0;
}


/*--------------------HOSTING--------------------*/

.hosting-body {
  max-width: 700px;
  display: flex;
  justify-content: center;
  padding: 64px 24px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.hosting-img img{
  max-width: 100%;
  border-radius: 15px;
}

pre code {
  font-size: 13px;
  font-family:  "JetBrains Mono", monospace;
  font-weight: 200;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
}

/*--------------------OOP--------------------*/

.oop-body {
  max-width: 700px;
  display: flex;
  justify-content: center;
  padding: 64px 24px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.oop-img img{
  max-width: 100%;
  border-radius: 15px;
}

pre code {
  font-size: 13px;
  font-family:  "JetBrains Mono", monospace;
  font-weight: 200;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
}

code {
  font-size: 13px;
  font-family:  "JetBrains Mono", monospace;
  font-weight: 200;
  /*color: dimgrey;*/
  background-color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 3px;
}

.bold {
  font-weight: bolder;
}